n
target
.settings
.project
.classpath
.svn
.idea
*.ipr

*.iml
/out
/.idea/ant.xml
/.idea/misc.xml
/.idea/workspace.xml
/.idea/modules.xml
/.idea/compiler.xml
/.idea/libraries/Maven*.xml
/.idea/artifacts/*.xml
/*.iws

*.log
*.log.*

info.log
error.log
/junit/
/build.xml
sh.exe.stackdump
.DS_Store

